# Copyright 2025 Philipp Stephani
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Test
on: push

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
      - name: Set up Bazel
        uses: bazel-contrib/setup-bazel@0.12.1
        with:
          bazelrc: |
            common --announce_rc
            common --show_progress_rate_limit=10
            common --remote_download_minimal
            common --lockfile_mode=error
            build --verbose_failures
            build --experimental_convenience_symlinks=ignore
            build --show_result=0
            build --nostamp
            build --experimental_repository_cache_hardlinks
            test --test_output=errors
          disk-cache: true
          repository-cache: true
      - name: Install Staticcheck
        shell: bash
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
      - name: Run tests
        shell: bash
        run: |
          make check BAZEL=bazelisk
